@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Global variables */
:root {
    --color-main: #ea5b00;
    --color-accent: #1d5e70;
    --color-light: #1D97B1;
    --color-bright: #d4b072;
    --color-black: black;
    --color-white: white;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: var(--color-black);
    overflow-x: hidden;
    color: var(--color-white);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    position: sticky;
    margin-bottom: 1rem;
}

.nav {
    color: var(--color-white);
    overflow: hidden;
    font-size: 0;
    text-align: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

nav a {
    flex: 1;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: .5s ease;
}

nav a:hover {
    color: var(--color-accent);
}

#nav-menu {
    display: none;
}

main {
    margin: 0 1rem;
}
  
.rocket{
    text-align: center;
    padding: 1rem;
}

#spaceship{
    width: 20vw;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
#overlay>iframe{
    position: absolute;
    top: 15%;
    left: 15%;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.reveal-content{
    max-width: 100%;
}

.img-size {
    width: 100%;
}

figure {
    padding: 0;
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
figure > img{
    width: 100%;
    height: 100%;
    padding: 18%;

}
figcaption {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
	padding-top: 50%;
    background: rgba(0,0,0,.8);
    color: var(--color-white);
    transition: all .3s ease-in-out;
    text-align: center;
    border-radius: 50%;
}

figure:hover > img {
    left: 0;
	transition: all 0.3s ease-in-out;
	transform: scale(1.2);
}

figure:hover figcaption {
    opacity: 1;
    top: 0;
    transform: scale(1.2);
    height: 120%;
    width: 120%;
}

figcaption a:hover {
    background: #fff;
    color: var(--color-black);
}

#main-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
	width: 80%:
    /*grid-template-rows: 1fr 1fr 1fr;*/
}
.main-subtitle{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

h1,
h2,
h3 {
    font-weight: 200;
    margin: 0.5rem 0;
    text-align: center;
}

p{
    padding: 1rem;
}

.detail-image{
    text-align: center;
    padding: 1rem;
}

.detail-image > img{
    max-width: 100%;
}

.grid-image{
    width: 15vw;
    text-align: center;
    margin: 0 auto;
}

footer {
    text-align: center;
}


@media all and (max-width: 500px) {

    #nav-menu {
        display: block;
    }

    .nav {
        height: 3rem;
        overflow: hidden;
        display: block;
    }

    .nav a {
        display: block;
    }
    .nav:hover,
    nav:focus {
        height: auto;
    }

